<!--<app-header-footer-layout>-->
<popup-layout class="create--item">
  <section class="app-create-item">
    <form>
      <div *ngIf="currentState === ItemSteps.itemTitle">
        <div class="item-list">
          <div class="item-list__image">

            <div
              class="item-file-uploader">
              <div class="uploader-title">
                <div class="image--placeholder"></div>
                <!--<img src="../../../assets/svg/plus.svg">-->
                <!--Drag and drop or select-->
              </div>
            </div>
          </div>

          <div class="item-list__image">
            <div
              class="item-file-uploader">
              <div class="uploader-title">
                <div class="image--placeholder"></div>
              </div>
            </div>
          </div>

          <div class="item-list__image">
            <div
              class="item-file-uploader">
              <div class="uploader-title">
                <div class="image--placeholder"></div>
              </div>
            </div>
          </div>
        </div>
        <div class="item-info align_item_center">
          <label class="label small primary"> {{'CREATE_ITEM.DRAG_DROP' }} <span class="content--selector"
                                                                                            (click)="goToFAQ()">FAQ's</span> {{'CREATE_ITEM.DRAG_DROP_1' }}
          </label>
        </div>
        <div class="item-tile">
          <div class="provide-padding">
            <label for="title" [ngClass]="{'set--active': focusedElement === 'title'}"
                   class="label sm-1 primary">{{'CREATE_ITEM.TITLE' }}</label>
          </div>
          <div>
            <input id="title" (focus)="focusedElement = 'title'" (blur)="focusedElement = ''" class="input-field sm1"
                   name="title" required [(ngModel)]="itemObject.title"
                   required minlength="4">
            <p class="validation-alert">{{validateItem.title}}</p>
          </div>
        </div>
        <div class="item-tile">
          <div class="provide-padding">
            <label for="title" [ngClass]="{'set--active': focusedElement === 'location'}"
                   class="label sm-1 primary">{{"CREATE_ITEM.LOCATION" }}</label>
          </div>
          <div>
            <input id="location" (focus)="focusedElement = 'location'" (blur)="focusedElement = ''"
                   class="input-field sm1" name="location" [(ngModel)]="itemObject.location" required minlength="2">
            <p class="validation-alert">{{validateItem.location}}</p>
          </div>
        </div>
      </div>

      <div *ngIf="currentState === ItemSteps.itemDescription">
        <div class="item-share">
          <label class="label md mg5 primary"
                 [ngClass]="{'set--active': itemRentIsActive}">{{'CREATE_ITEM.SHARE_RATE' }}</label>
          <div class="item-share__lend">
            <input type="checkbox" class="regular-checkbox" [checked]="lend_free" (change)="lendFree($event)">
            <span class="lend_text">{{'CREATE_ITEM.LEND_FREE' }}</span>
            <img class="lend--free__info show--cursor" src="../../assets/svg/know_more.svg"
                 (click)="lendFreeInfo = !lendFreeInfo"/>
          </div>
        </div>
        <div class="item-share">
          <div class="item-share__rate">
            <label class="label sm-1 primary"
                   [ngClass]="{'set--active': focusedElement === 'day_rent'}">{{'CREATE_ITEM.DAY_RATE' }}</label>
            <input (focus)="focusedElement = 'day_rent'" (blur)="focusedElement = ''" [disabled]="lend_free"
                   type="number"
                   class="input-field sm1" [(ngModel)]="itemObject.rent_rate" name="itemObject.rent">
            <p class="validation-alert">{{validateItem.rent}}</p>
          </div>
          <div class="item-share__rate">
            <label class="label sm-1 primary"
                   [ngClass]="{'set--active': focusedElement === 'week_rent'}">{{'CREATE_ITEM.WEEK_RATE' }}</label>
            <input (focus)="focusedElement = 'week_rent'" (blur)="focusedElement = ''" [disabled]="lend_free"
                   type="number"
                   class="input-field sm1" [(ngModel)]="itemObject.rent_rate_per_week" name="itemObject.week_rent">
            <p class="validation-alert">{{validateItem.rent}}</p>
          </div>
          <div class="item-share__rate">
            <label class="label sm-1 primary"
                   [ngClass]="{'set--active': focusedElement === 'month_rent'}">{{'CREATE_ITEM.MONTH_RATE' }}</label>
            <input (focus)="focusedElement = 'month_rent'" (blur)="focusedElement = ''" [disabled]="lend_free"
                   type="number"
                   class="input-field sm1" [(ngModel)]="itemObject.rent_rate_per_month" name="itemObject.month_rent">
            <p class="validation-alert">{{validateItem.rent}}</p>
          </div>
        </div>

        <div class="item-tile">
          <div class="provide-padding">
            <label for="title" [ngClass]="{'set--active': focusedElement === 'visibility'}"
                   class="label sm-1 primary">Availability</label>
          </div>
          <div class="visibility-container">
            <span class="label sm-1 primary label_public">Public</span>
            <div class="onoffswitch">
              <input type="checkbox" (focus)="focusedElement = 'visibility'" name="onoffswitch"
                     class="onoffswitch-checkbox"
                     id="myonoffswitch" checked
                     [(ngModel)]="visibility">
              <label class="onoffswitch-label" for="myonoffswitch"></label>
            </div>
            <span class="label sm-1 primary label_private">Private</span>
          </div>
        </div>

        <div class="category-list-container add-margin-top-15">
          <label class="label sm-1 primary provide-padding-right">{{'CREATE_ITEM.CATEGORY' }}</label>
          <select class="category-list from-country" [(ngModel)]="itemObject.category" name="itemObject.category">
            <option *ngFor="let category of categories" [ngValue]="category">{{category}}</option>
          </select>
          <p class="validation-alert">{{validateItem.category}}</p>
        </div>
        <div class="item-share__description">
          <label class="label sm-1 primary"
                 [ngClass]="{'set--active': focusedElement === 'description'}">{{'CREATE_ITEM.ITEM_DESCRIPTION' }}</label>
          <textarea class="text_area sm1" (focus)="focusedElement = 'description'" (blur)="focusedElement = ''"
                    [(ngModel)]="itemObject.description" name="itemObject.description"></textarea>
          <p class="validation-alert">{{validateItem.description}}</p>
        </div>
      </div>
      <div *ngIf="currentState === ItemSteps.itemValue">
        <div class="item-value__description">
          <label class="label md1 orange font_abs">{{'CREATE_ITEM.PRIVATE' }}</label>
          <label class="label sm-1 primary add-margin-top">{{'CREATE_ITEM.VISIBLE_OTHERS' }}</label>
        </div>
        <div class="item-value provide-padding-bottom add-margin-top">
          <label class="label sm-1 primary"
                 [ngClass]="{'set--active': focusedElement === 'value'}">{{'CREATE_ITEM.VALUE' }}*</label>
          <input type="number" class="input-field" (focus)="focusedElement = 'value'; validateItem.value = ''"
                 (blur)="focusedElement = ''" [(ngModel)]="itemObject.item_cost" name="itemObject.item_cost">
          <p class="validation-alert">{{validateItem.value}}</p>
        </div>

        <div class="item-maintenance provide-padding-bottom">
          <label class="label sm-1 primary"
                 [ngClass]="{'set--active': focusedElement === 'maintenance'}">{{'CREATE_ITEM.INFORMATION' }}</label>
          <textarea class="text_area sm1" (focus)="focusedElement = 'maintenance'" (blur)="focusedElement = ''"
                    [(ngModel)]="itemObject.other_information" name="itemObject.maintenance"></textarea>
          <p class="validation-alert">{{validateItem.maintenance}}</p>
        </div>

        <div class="item-service provide-padding-bottom">
          <label class="label sm-1 primary"
                 [ngClass]="{'set--active': focusedElement === 'serviceDate'}">{{'CREATE_ITEM.SERVICE_DATE' }}</label>
          <input *ngIf="!edit_item" type="date" class="input-field sm1" (focus)="focusedElement = 'serviceDate'"
                 (blur)="focusedElement = ''"
                 [(ngModel)]="itemObject.service_date" name="itemObject.serviceDate">
          <label *ngIf="edit_item" class="input-field sm1">{{itemObject.service_date | date:'dd/MM/yyyy'}}</label>
          <p class="validation-alert">{{validateItem.serviceDate}}</p>
        </div>

        <div class="item-insurance provide-padding-bottom">
          <label class="label sm quad" *ngIf="!toc_accepted">{{'CREATE_ITEM.INSURANCE'}}
            <img class="tc_info show--cursor" src="../../assets/svg/know_more.svg" (click)="tcInfo = !tcInfo"/>
          </label>
          <label class="label sm validated" *ngIf="toc_accepted">{{'CREATE_ITEM.INSURED_1'}}</label>
          <label class="validation-alert">{{validateItem.toc_accepted}}</label>
        </div>
        <div class="terms-condition provide-padding-bottom">
          <label class="label sm-1 terenary"
                 (click)="displayTermsCondition = !displayTermsCondition">{{'CREATE_ITEM.TC'}}</label>
        </div>

      </div>
      <div class="item-stage__navigation">
        <div class="circle" [ngClass]="{'terenary':currentState === ItemSteps.itemTitle}"></div>
        <div class="circle" [ngClass]="{'terenary':currentState === ItemSteps.itemDescription}"></div>
        <div class="circle" [ngClass]="{'terenary':currentState === ItemSteps.itemValue}"></div>
      </div>
      <div class="button-container">
<!--        <button class="button provide-margin__button" (click)="back()">{{previous}}</button>-->
        <bee-btn type="secondary" (click)="back()">{{previous}}</bee-btn>
        <!--<button type="submit" class="provide-margin__button button" [class.active]="can_go_next"
                [disabled]="!can_go_next" [class.disabled]="!can_go_next" (click)="createItem()">{{next}}</button>-->
        <bee-btn type="primary" (click)="createItem()" [class.active]="can_go_next"
                 [disabled]="!can_go_next" [class.disabled]="!can_go_next">{{next}}</bee-btn>
      </div>
    </form>
  </section>
</popup-layout>


<popup-layout *ngIf="itemAdded">
  <div class="item-creation__popup">
    <label class="label md1 bold-font popup-title">listing uploaded</label>
    <label
      class="label sm-1 quad provide-padding-bottom_created popup-contents">{{'CREATE_ITEM.CONGRATULATIONS' }}</label>
<!--    <button class="button active" (click)="close()">{{'CLOSE' }}</button>-->
    <bee-btn type="primary" (click)="close()">Close</bee-btn>
  </div>
</popup-layout>

<popup-layout *ngIf="itemEdited">
  <div class="item-creation__popup">
    <label class="label md1 bold-font popup-title">Item edited successfully</label>
    <!--<label class="label sm-1 quad provide-padding-bottom_created popup-contents">Congratulations! Your listing has been uploaded</label>-->
<!--    <button class="button active" (click)="close()">close</button>-->
    <bee-btn type="primary" (click)="close()">Close</bee-btn>
  </div>
</popup-layout>

<popup-layout *ngIf="lendFreeInfo">
  <div class="item-creation__popup">
    <div class="item-tc-pop-up">
      <p class="t_r_c_1 align_center">

        {{'CREATE_ITEM.LEND_HEAD'}}
      </p>
      <p class="t_r_c">
        {{'CREATE_ITEM.LEND_LINE_1'}}
      </p>
      <ul>
        <li class="t_r_c">
          {{'CREATE_ITEM.LEND_LI_1'}}
        </li>
        <li class="t_r_c">
          {{'CREATE_ITEM.LEND_LI_2'}}
        </li>
        <li class="t_r_c">
          {{'CREATE_ITEM.LEND_LI_3'}}
        </li>
      </ul>
      <p class="t_r_c">
        If you want any more advice, get in touch at <a href="hello@sharebee.co.uk"> hello@sharebee.co.uk</a>
      </p>
    </div>
    <div class="add-margin-top-15">
<!--      <button class="button" (click)="lendFreeInfo = !lendFreeInfo">{{'CLOSE' }}</button>-->
      <bee-btn type="primary" (click)="lendFreeInfo = !lendFreeInfo">Close</bee-btn>
    </div>
  </div>
</popup-layout>


<popup-layout *ngIf="loggInPopUP">
  <section class="padding-box">
    <div class="add-margin-top-15">
      <label>Please login or sign up to sharebee to upload an item</label>
    </div>
    <div class="button-container ms-fix-container align_center margin--bottom">
      <bee-btn type="secondary" (click)="loginUser()">Login</bee-btn>
      <bee-btn type="primary" (click)="signUpUser()">Sign up</bee-btn>
    </div>
    <p class="close-button" (click)="close()">close</p>
  </section>
</popup-layout>
<!--</app-header-footer-layout>-->
