<!--<app-header-footer-layout>-->
<popup-layout class="create--item" fxLayout="row" fxFlex="100%">
  <section class="app-create-item" fxFlex.lt-sm="100%">
    <form>
      <div *ngIf="currentState === ItemSteps.itemTitle">
        <app-listing [itemObject]="itemObject" [validateItem]="validateItem"></app-listing>
      </div>
      <div *ngIf="currentState === ItemSteps.itemDescription">
        <app-listing-detail [itemObject]="itemObject" [validateItem]="validateItem" [categories]="categories" [lendFreeInfo]="lendFreeInfo"></app-listing-detail>
      </div>
      <div *ngIf="currentState === ItemSteps.itemValue">
        <app-listing-information [itemObject]="itemObject" [validateItem]="validateItem" [toc_accepted]="toc_accepted" [edit_item]="edit_item"></app-listing-information>
      </div>
      <div class="item-stage__navigation">
        <div class="circle" [ngClass]="{'terenary':currentState === ItemSteps.itemTitle}"></div>
        <div class="circle" [ngClass]="{'terenary':currentState === ItemSteps.itemDescription}"></div>
        <div class="circle" [ngClass]="{'terenary':currentState === ItemSteps.itemValue}"></div>
      </div>
      <div class="button-container" fxLayout="row wrap" fxLayoutAlign="space-around center">
<!--        <button class="button provide-margin__button" (click)="back()">{{previous}}</button>-->
        <bee-btn type="secondary" fxFlex="30%" fxFlex.xs="100%" (click)="back()">{{previous}}</bee-btn>
        <div fxFlex="40%"></div>
        <!--<button type="submit" class="provide-margin__button button" [class.active]="can_go_next"
                [disabled]="!can_go_next" [class.disabled]="!can_go_next" (click)="createItem()">{{next}}</button>-->
        <bee-btn type="primary" fxFlex="30%" fxFlex.xs="100%" (click)="createItem()" [class.active]="can_go_next"
                 [disabled]="!can_go_next" [class.disabled]="!can_go_next">{{next}}</bee-btn>
      </div>
    </form>
  </section>
</popup-layout>


<popup-layout *ngIf="itemAdded">
  <div class="item-creation__popup">
    <label class="label md1 bold-font popup-title">listing uploaded</label>
    <label
      class="label sm-1 quad provide-padding-bottom_created popup-contents">{{'CREATE_ITEM.CONGRATULATIONS' }}</label>
<!--    <button class="button active" (click)="close()">{{'CLOSE' }}</button>-->
    <bee-btn type="primary" (click)="close()">Close</bee-btn>
  </div>
</popup-layout>

<popup-layout *ngIf="itemEdited">
  <div class="item-creation__popup">
    <label class="label md1 bold-font popup-title">Item edited successfully</label>
    <!--<label class="label sm-1 quad provide-padding-bottom_created popup-contents">Congratulations! Your listing has been uploaded</label>-->
<!--    <button class="button active" (click)="close()">close</button>-->
    <bee-btn type="primary" (click)="close()">Close</bee-btn>
  </div>
</popup-layout>

<popup-layout *ngIf="lendFreeInfo">
  <div class="item-creation__popup">
    <div class="item-tc-pop-up">
      <p class="t_r_c_1 align_center">

        {{'CREATE_ITEM.LEND_HEAD'}}
      </p>
      <p class="t_r_c">
        {{'CREATE_ITEM.LEND_LINE_1'}}
      </p>
      <ul>
        <li class="t_r_c">
          {{'CREATE_ITEM.LEND_LI_1'}}
        </li>
        <li class="t_r_c">
          {{'CREATE_ITEM.LEND_LI_2'}}
        </li>
        <li class="t_r_c">
          {{'CREATE_ITEM.LEND_LI_3'}}
        </li>
      </ul>
      <p class="t_r_c">
        If you want any more advice, get in touch at <a href="hello@sharebee.co.uk"> hello@sharebee.co.uk</a>
      </p>
    </div>
    <div class="add-margin-top-15">
<!--      <button class="button" (click)="lendFreeInfo = !lendFreeInfo">{{'CLOSE' }}</button>-->
      <bee-btn type="primary" (click)="lendFreeInfo = !lendFreeInfo">Close</bee-btn>
    </div>
  </div>
</popup-layout>


<popup-layout *ngIf="loggInPopUP">
  <section class="padding-box">
    <div class="add-margin-top-15">
      <label>Please login or sign up to sharebee to upload an item</label>
    </div>
    <div class="button-container ms-fix-container align_center margin--bottom">
      <bee-btn type="secondary" (click)="loginUser()">Login</bee-btn>
      <bee-btn type="primary" (click)="signUpUser()">Sign up</bee-btn>
    </div>
    <p class="close-button" (click)="close()">close</p>
  </section>
</popup-layout>
<!--</app-header-footer-layout>-->
