<div class="item-value__description">
  <label class="label md1 orange font_abs">{{'CREATE_ITEM.PRIVATE' }}</label>
  <label class="label sm-1 primary add-margin-top">{{'CREATE_ITEM.VISIBLE_OTHERS' }}</label>
</div>
<div class="item-padding" fxLayout="row wrap" fxLayoutAlign="space-around flex-start">
  <div class="item-value" fxFlex="48%" fxFlex.xs="100%">
    <label class="label sm-1 primary"
          [ngClass]="{'set--active': focusedElement === 'value'}">{{'CREATE_ITEM.VALUE' }}</label>
    <input type="number" class="input-field" (focus)="focusedElement = 'value'; validateItem.value = ''"
          (blur)="focusedElement = ''" [(ngModel)]="itemObject.item_cost" name="item_cost">
  </div>
  <div class="item-value" fxFlex="48%" fxFlex.xs="100%">
    <label class="label sm-1 primary"
          [ngClass]="{'set--active': focusedElement === 'receipt'}">{{'CREATE_ITEM.RECEIPT' }}</label>
    <input type="text" class="input-field" (focus)="focusedElement = 'receipt'; validateItem.value = ''"
          (blur)="focusedElement = ''" [(ngModel)]="itemObject.item_receipt" name="item_receipt">
  </div>
</div>

<div class="item-maintenance item-padding">
  <label class="label sm-1 primary"
         [ngClass]="{'set--active': focusedElement === 'maintenance'}">{{'CREATE_ITEM.INFORMATION' }}</label>
  <textarea class="text_area sm1" (focus)="focusedElement = 'maintenance'" (blur)="focusedElement = ''"
            [(ngModel)]="itemObject.other_information" name="maintenance"></textarea>
  <p class="validation-alert">{{validateItem.maintenance}}</p>
</div>

<div class="item-padding" fxLayout="row" fxLayoutAlign="flex-start">
<div class="item-service provide-padding-bottom" fxFlex="50%" fxFlex.xs="100%">
  <label class="label sm-1 primary"
         [ngClass]="{'set--active': focusedElement === 'serviceDate'}">{{'CREATE_ITEM.SERVICE_DATE' }}</label>
  <input *ngIf="!edit_item" type="date" class="input-field sm1" (focus)="focusedElement = 'serviceDate'"
         (blur)="focusedElement = ''"
         [(ngModel)]="itemObject.service_date" name="serviceDate">
  <label *ngIf="edit_item" class="input-field sm1">{{itemObject.service_date | date:'dd/MM/yyyy'}}</label>
  <p class="validation-alert">{{validateItem.serviceDate}}</p>
</div>
</div>

<div class="item-insurance provide-padding-bottom">
  <label class="label sm quad" *ngIf="!toc_accepted">{{'CREATE_ITEM.INSURANCE'}}
    <!--img class="tc_info show--cursor" src="../../assets/svg/know_more.svg" (click)="tcInfo = !tcInfo"/-->
  </label>
  <label class="label sm validated" *ngIf="toc_accepted">{{'CREATE_ITEM.INSURED_1'}}</label>
  <label class="validation-alert">{{validateItem.toc_accepted}}</label>
</div>
<div class="terms-condition provide-padding-bottom">
  <label class="label sm-1 terenary"
         (click)="displayTermsCondition = !displayTermsCondition">{{'CREATE_ITEM.TC'}}</label>
</div>
