<div class="item-padding" fxLayout="row wrap" fxLayoutAlign="space-around center">
  <div fxFlex="45%" fxFlex.xs="30%">
    <label for="type" [ngClass]="{'set--active': focusedElement === 'type'}"
           class="label sm-1 primary">{{'CREATE_ITEM.SHOWLISTING' }}</label>
  </div>
  <div fxFlex="55%" fxFlex.xs="100%" fxLayout="row wrap" fxLayoutAlign="space-around center">
    <div class="item-list-image" fxFlex="40%" fxFlex.xs="100%">
      <input id="radio-public" (focus)="focusedElement = 'showlisting'" (blur)="focusedElement = ''" class="regular-radio" type="radio" name="showlisting" required [(ngModel)]="itemObject.showlisting" value="public">
      <label for="radio-public" class="radio-label label small primary">public site</label>
    </div>
    <div class="item-list-image" fxFlex="60%" fxFlex.xs="100%">
      <input id="radio-private" (focus)="focusedElement = 'showlisting'" (blur)="focusedElement = ''" class="regular-radio" type="radio" name="showlisting" required [(ngModel)]="itemObject.showlisting" value="private">
      <label for="radio-private" class="radio-label label small primary">private(hive only)</label>
    </div>
  </div>
</div>
<div class="item-padding" fxLayout="row wrap" fxLayoutAlign="space-around center">
  <div fxFlex="100%" >
    <label class="label sm-1 mg5 primary"
         [ngClass]="{'set--active': itemRentIsActive}">{{'CREATE_ITEM.SHARE_RATE' }}</label>
    <img class="lend--free__info show--cursor" src="../../assets/svg/know_more.svg"
              (click)="lendFreeInfo = !lendFreeInfo"/>
  </div>
  <div fxFlex="100%" fxLayout.lt-sm="row wrap" >
    <div class="item-share-rate" fxFlex="23%" fxFlex.xs="50%">
      <input (focus)="focusedElement = 'day_rent'" (blur)="focusedElement = ''" [disabled]="lend_free"
             type="number"
             placeholder="£ / day"
             class="input-field sm1" [(ngModel)]="itemObject.rent_rate" name="rent">
      <p class="validation-alert">{{validateItem.rent}}</p>
    </div>
    <div class="item-share-rate" fxFlex="23%" fxFlex.xs="50%">
      <input (focus)="focusedElement = 'week_rent'" (blur)="focusedElement = ''" [disabled]="lend_free"
             type="number"
             placeholder="£ / week"
             class="input-field sm1" [(ngModel)]="itemObject.rent_rate_per_week" name="week_rent">
      <p class="validation-alert">{{validateItem.rent}}</p>
    </div>
    <div class="item-share-rate" fxFlex="23%" fxFlex.xs="50%">
      <input (focus)="focusedElement = 'month_rent'" (blur)="focusedElement = ''" [disabled]="lend_free"
             type="number"
             placeholder="£ / 28 days"
             class="input-field sm1" [(ngModel)]="itemObject.rent_rate_per_month" name="month_rent">
      <p class="validation-alert">{{validateItem.rent}}</p>
    </div>
    <div class="item-share__lend" fxFlex="30%" fxFlex.xs="50%">
      <input id="radio-lend" (focus)="focusedElement = 'lend_for_free'" (blur)="focusedElement = ''" class="regular-radio" type="radio" name="lend_for_free" [checked]="lend_free" [(ngModel)]="itemObject.lend_for_free" value="private">
      <label for="radio-lend" class="radio-label label small primary">lend for free</label>
    </div>
  </div>

</div>

<!--div class="item-tile">
  <div class="provide-padding">
    <label for="title" [ngClass]="{'set--active': focusedElement === 'visibility'}"
           class="label sm-1 primary">Availability</label>
  </div>
  <div class="visibility-container">
    <span class="label sm-1 primary label_public">Public</span>
    <div class="onoffswitch">
      <input type="checkbox" (focus)="focusedElement = 'visibility'" name="onoffswitch"
             class="onoffswitch-checkbox"
             id="myonoffswitch" checked
             [(ngModel)]="visibility">
      <label class="onoffswitch-label" for="myonoffswitch"></label>
    </div>
    <span class="label sm-1 primary label_private">Private</span>
  </div>
</div-->

<div class="category-list-container add-margin-top-15">
  <label class="label sm-1 primary provide-padding-right">{{'CREATE_ITEM.CATEGORY' }}</label>
  <select class="category-list from-country" [(ngModel)]="itemObject.category" name="category">
    <option *ngFor="let category of categories" [ngValue]="category">{{category}}</option>
  </select>
  <p class="validation-alert">{{validateItem.category}}</p>
</div>
<div class="item-share__description">
  <label class="label sm-1 primary"
         [ngClass]="{'set--active': focusedElement === 'description'}">{{'CREATE_ITEM.ITEM_DESCRIPTION' }}</label>
  <textarea class="text_area sm1" (focus)="focusedElement = 'description'" (blur)="focusedElement = ''"
            [(ngModel)]="itemObject.description" name="description"></textarea>
  <p class="validation-alert">{{validateItem.description}}</p>
</div>
