@import "../../../theme/variables";
@import "src/app/fonts";

  .lend--free__info {
    padding: 0px 1px;
    width: 12px;
    vertical-align: super;
  }

  .lend_text {
    height: 100%;
    vertical-align: super;
    padding: 5px;
    color: map_get($color_list, quad);
    font-size: map_get($font-list, sm-1);
    font-family: "Nunito";
  }

  .item-share__lend {
    align-self: center;
    margin-bottom: 15px;
  }

  .item-share__description {
    width: 100%;
    padding: 20px 0px 0px 0px;
  }
